@charset "utf-8";

// ===================================================================
// レイアウト関係
// ===================================================================
html { height: 100%; color: $font_color; }
body { width: 100%; height:100%; letter-spacing: .05em; line-height: 1.4; background: $base_color; font-family: 'Noto Sans Japanese', sans-serif; }

a { @each $prefix in $set_prefix { #{$prefix}transition: all 0.15s linear; } }
p { line-height: 1.7; }
.bc_4DBA95 { width: 100%; background: #4DBA95; }
.bc_F6F8FA { width: 100%; background: #F6F8FA; }
.bc_E1E5D6 { width: 100%; background: #E1E5D6; }
.u-l { width: 100%; height: 11px; background-image: url(#{$img_path}bg/bg_u-line.png); }

.menu-bar {
	.h-nav { width: 100%; height: 80px; padding: $bs*2 $bs*4 0; box-sizing: border-box; z-index: 1000;
		@each $prefix in $set_prefix { #{$prefix}transition: 0.10s ease-out; }
	}
	.h-nav_fix { width: 100%; position: fixed; top: -80px; background: rgba( #fff,0.85); 
		@each $prefix in $set_prefix { #{$prefix}transition: top 0.50s cubic-bezier(0.77, 0, 0.175, 1); }
		@each $prefix in $set_prefix { #{$prefix}transition-delay: 0.4s; }
	}
	h1 { position: absolute; top:-9999px; font-size: fz(11); float: left; }
	.h-nav_fix { 
		h1 { display: none; }
	}
	.cta { float: right;
		a {
			&.bt-box { display: inline-block; padding: $bs*1.5 $bs*1.5; color: #fff; letter-spacing: .12em; @include border_radius(8px); 
				&.bt-contact { background-color: $ac_color; }
				&.bt-login { margin-left: $bs*1.5; background-color: $main_color; }
				&.bt-logout { margin-left: $bs*1.5; background-color: $main_color; }
			}
			span { vertical-align: middle;
				&.icon-ic { font-size: fz(18); margin-right: $bs; }
			}
			&:hover { color: rgba( #fff, 0.8); }
		}
		.tel { display: inline-block; color: $main_color; margin-left: $bs*2;
			span { vertical-align: middle; }
			.icon-ic-tel { font-size: fz(20); margin-right: $bs; color: $sub_color; }
			.tel-no { font-size: fz(32); font-family: 'Roboto', sans-serif; font-weight: 700; letter-spacing: .0em; line-height: 1; }
			.biz-hour { font-size: fz(12); }
		}
	}
} //.menu-bar END

.spacer-nav { width: 0px; height: 0px;
	&.spacer-nav_fix { width: 1px; height: 80px; }
}

footer { text-align: center; width: 100%; color: #fff; background: $main_color; box-sizing: border-box;
	.ft-innr { max-width: 960px; padding: $bs*4 $bs*3 $bs*2; box-sizing: border-box; margin:  0 auto;
		ul.bnr-list { display: flex; justify-content: space-around; flex-wrap: wrap; padding: $bs*4 0; margin-bottom: $bs*5;
			li { color: #fff; text-align: center; position: relative; width: 330px; height: 126px; background: #A6DDAF;
				a {}
				img { width: 100%; height: auto; }
				span { position: absolute; left: 50%; top: 50%; transform: translate(-50% ,-50%); }
			}
		}
		.ft-cmp { margin-bottom: $bs*5; }
		.cmp-info { float: left; text-align: left;
			.cmp-name { font-size: fz(16); line-height: 1.4; margin-bottom: $bs; }
			.cmp-addr { font-size: fz(13); line-height: 1.4; margin-bottom: $bs; }
			a { color: #fff; font-size: fz(12); margin-right: $bs; }
		}
		.cta-tel { float: right; text-align: left;
			.ic { display: inline-block; text-align: center; width: 54px; height: 54px; padding: $bs*2 0; box-sizing: border-box; background: #fff; @include border_radius(50%); margin: 0 $bs*2 $bs*2 0; 
				span {
					&.icon-ic { font-size: fz(22); color: $main_color; }
				}
			}
			.label { display: inline-block;
				strong { font-size: fz(18); font-weight: 500; }
				.mini { font-size: fz(12); }
			}
			.tel {
				.tel-no { font-size: fz(40); font-family: 'Roboto', sans-serif; font-weight: 700; letter-spacing: .0em; line-height: 1; }
				.biz-hour { font-size: fz(13); }
			}
		}
		.copy-right { font-size: fz(10); }
	}
} // footer END

.glide__bullets { position: absolute; z-index: 2; list-style: none;
	.glide--horizontal & { bottom: 8%; left: 0; width: 100%; height: 12px; text-align: center; }
	.glide__bullet { display: inline-block; background-color: rgba( 35,24,21,0.1 );
		width: 10px; height: 10px; padding: 0; cursor: pointer; border: none; 
		@include border_radius( 50% ); 
		@each $prefix in $set_prefix { #{$prefix}transition: all 300ms ease-in-out; }
		vertical-align: middle;
		&.active,&:hover,&:focus { border: none; background-color: rgba( 35,24,21,0.3 );}
	}
} // .glide__bullets END

form { text-align: left; width: 100%; max-width: 780px; margin: 0 auto $bs*5;
	.unit { line-height: 1.8; padding: $bs*1.5 0; width: 95%; margin: 0 auto $bs;
		p.label { font-size: fz(16); font-weight: 600; padding: 0 2%; }
		&.apply-unit { max-width: 592px; background: #fff; padding: $bs $bs*1.5; box-sizing: border-box; margin: 0 auto $bs*2;}
	}
	dl { letter-spacing: -0.4em;
		dt,dd { padding: $bs 2%; display: inline-block; border: none; letter-spacing: .05em; vertical-align: middle; border-collapse: separate; }
		dt { max-width: 120px; width: 100%; text-align: left; 
			span.item { font-size: fz(14); padding-left: $bs*2; vertical-align: middle; position: relative; font-weight: 600;
				&.must { 
					&:before { position: absolute; left: 0; font-size: fz(12); content: "※"; color: #ed1c24; }
				}
			}
		}
		dd { width: 100%; text-align: left; padding: $bs $bs; 
			&.w-80 { max-width: 80px; }
			&.w-120 { max-width: 120px; }
			&.w-136 { max-width: 136px; }
			&.w-160 { max-width: 160px; }
			&.w-200 { max-width: 200px; }
			input { max-width: 250px; width: 100%; font-size: fz(14); padding: $bs $bs*2; box-sizing: border-box;
				&#zip1 { width: 40px; }
				&#zip2 { width: 56px; }
				&#prefecture { max-width: 120px; }
			}
			textarea { width: 95%; font-size: fz(14); padding: $bs $bs*2; border: 1px solid #afafaf; box-sizing: border-box;}
			select { background: #fff; border: 1px solid #afafaf; max-width: 250px; min-width: 80px; height: 32px; font-size: fz(14); padding: $bs $bs*3; }
			.wpcf7-list-item {
				input[type=radio] { display: inline-block; width: 20px; }
				.wpcf7-list-item-label { display: inline-block; }
			}
		}
	}
	
	input[type=checkbox]{ display:none; }
	
	.check_css { position:relative; display:inline-block; font-size: fz(16); font-weight: 600; width: 100%; padding-left: $bs*3; box-sizing: border-box; vertical-align:middle; cursor:pointer;
		@each $prefix in $set_prefix { #{$prefix}transition: background-color 0.2s linear; }
		&:hover{
			&::after { border-color: $main_color; }
		}
		&::after { position:absolute; top: 50%; left: 0px; display:block; margin-top: -10px; width: 16px; height: 16px; border: 2px solid #ccc; content:'';  background: #fff;
			@include border_radius( 6px );  
			@each $prefix in $set_prefix { #{$prefix}transition: border-color 0.2s linear; }
		}
		&::before { position:absolute; top: 50%; left: 6px; display:block; margin-top: -7px; width: 5px; height: 9px; border-right: 3px solid $main_color; border-bottom: 3px solid $main_color; content:''; opacity:0; z-index: 2;
			@each $prefix in $set_prefix { #{$prefix}transition: opacity 0.2s linear; }
			@each $prefix in $set_prefix { #{$prefix}transform: rotate(45deg);}
		}
	}			

	input[type=checkbox]:checked + .check_css:before { opacity: 1; }
	
	.submit-area { text-align: center; padding-top: $bs*5;
		p.att { text-align: left; line-height: 1.7; max-width: 640px; margin: 0 auto $bs*5; }
		.confirm, .back, .submit, .add { display: inline-block; border: none; margin: 0 $bs;
			input { margin: 0; padding: 0; background: none; border: none; border-radius: 0; outline: none; @each $prefix in $set_prefix { #{$prefix}appearance:none; } }
		}
		#submit[disabled] { background: $main_color !important; }
		.bt-submit { width: 180px; padding: $bs !important; margin: 0 auto !important; font-size: fz(14); color: #fff; text-align: center; letter-spacing: .2em; background: $main_color !important; cursor: pointer; border: none; border-radius: 8px !important;
			@each $prefix in $set_prefix { #{$prefix}transition: all 0.3s linear; }
			&:hover { color: rgba( #fff, 0.8); text-decoration: none; }
			&.bt-add { color: $font_color; background: #fff !important; }
		}
	}	
} // form END