@charset "utf-8";

// ===================================================================
// 各種セッティング
// ===================================================================

// 付与するベンダープレフィックス
$set_prefix: -webkit-, -moz-, -ms-, -o-, null;

// カラー（ベースカラー）
$base_color: #fff;
$main_color: #1B936C;
$sub_color: #20A87A;
$ac_color: #C61148;
$font_color: #555555;
$border_color: #efebe9;
$hover_color: #333333;

// 角丸の初期値
$br_value: 8px;
$sh_value: 0px 2px 2px 4px rgba(#363636,0.2); // 光源正面 

// HTML5の場合は値を「false」から「true」にする
$use_html5: true;

// 汎用クラスを使用するか
$use_extend_object: true;

// 簡易ロールオーバーの値
$opacity_value: .55;

// 余白調整用のクラスを使用するか
$use_spacing_classes: false;

// 画像のパス
$img_path: "./images/";

// ベースフォント
$base_font: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

// ページ全体の横幅
$base_width: 960px;

// 要素の基本単位
$bs: 8px;


// ===================================================================
// フォントサイズ
// ===================================================================
$fontSizeList: 62%, 70%, 77%, 85%, 93%, 100%, 108%, 116%, 124%, 131%, 139%, 147%, 154%, 162%, 170%, 177%, 185%, 193%, 200%, 208%, 216%, 224%, 231%, 239%, 247%, 254%, 262%, 270%, 277%, 285%, 293%, 300%, 308%;

@function fz($size) {
	@if $size < 8 {
		$size: 8;
	}
	@if $size > 40 {
		$size: 40;
	}
	@return nth($fontSizeList, $size - 7);
}

// ウェブフォント アイコン
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icon/icomoon.eot?rex9rt');
  src:  url('fonts/icon/icomoon.eot?rex9rt#iefix') format('embedded-opentype'),
    url('fonts/icon/icomoon.ttf?rex9rt') format('truetype'),
    url('fonts/icon/icomoon.woff?rex9rt') format('woff'),
    url('fonts/icon/icomoon.svg?rex9rt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-tel:before {
	content: "\e900";
}
.icon-ic-mail:before {
	content: "\e901";
}
.icon-ic-hexa:before {
	content: "\e902";
}
.icon-ic-file:before {
	content: "\e926";
}
.icon-ic-enter:before {
	content: "\ea13";
}
.icon-ic-exit:before {
	content: "\ea14";
}
.icon-ic-stack:before {
	content: "\ead0";
}
.icon-ic-quest:before {
	content: "\ea09";
}
